@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    position: relative;
}

#logo {
    width: 28%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

#logo img {
    width: 250px;
}

.topnav {
    background-color: transparent;
    align-items: center;
    width: 100vw;
    display: flex;
    position: fixed;
    padding-top: 0.8em;
}

.topnav a {
    text-align: center;
    background-color: transparent;
    padding: 17px;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    flex-wrap: nowrap;
}

.topnav a:hover {
    text-decoration: underline;
}

#navlinks1 {
    width: 38%;
    min-width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#navlinks1 a {
    display: flex;
    flex-wrap: nowrap;
}

#navlinks2 {
    width: 28%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
#page1content, #page2content, #page3content, #page4content, #page5content  {
    padding-top: 65vh;
    margin-left: 16vw;
    font-size: 50px;
    text-transform: uppercase;
}

#page2line1, #page3line1 {
    font-size: 20px;
}

button {
    background-color: transparent;
    font-size: 20px;
    padding: 13px;
    width: 170px;
    border-color: white;
}

#navbarbutton {
    border-color: transparent;
    width: 10px;
}

#navbarbuttonlogo {
    width: 15px;
    padding-bottom: 4px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5px;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 50px 0;
}

footer a {
    padding: 0 21px;
    font-size: 12px;
    text-decoration: none;
}

footer p {
    padding-right: 10px;
}

#page1, #page2, #page3, #page4, #page5 {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#page1 {
    background-image: url(./images/rocket1.jpg);
}

#page2 {
    background-image: url(./images/rocket2.jpg);
}

#page3 {
    background-image: url(./images/rocket3.jpg);
}

#page4 {
    background-image: url(./images/rocket4.jpg);
}

#page5 {
    background-image: url(./images/rocket5.jpg);
}