@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    position: relative;
}

#logo {
    width: 28%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

#logo img {
    width: 250px;
    z-index: 9;
}

.topnav {
    background-color: transparent;
    align-items: center;
    width: 100vw;
    display: flex;
    position: fixed;
    padding-top: 0.8em;
}

.topnav a {
    text-align: center;
    background-color: transparent;
    padding: 10px 0px 4px 0px;
    margin: 0px 19px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    flex-wrap: nowrap;
    display: inline-block;
    position: relative;
    color: #fff;
}

.topnav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.topnav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navlinks1 {
    width: 38%;
    min-width: 800px;
    display: flex;
    justify-content: center;
}

#navlinks2 {
    width: 28%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#page1content {
    padding-top: 65vh;
    margin-left: 16vw;
    font-size: 45px;
    text-transform: uppercase;
}

#page2content {
    padding-top: 70vh;
    margin-left: 16vw;
    font-size: 50px;
    text-transform: uppercase;
}

#page3content {
    padding-top: 65vh;
    margin-left: 16vw;
    font-size: 50px;
    text-transform: uppercase;
}

#page4content {
    padding-top: 70vh;
    margin-left: 16vw;
    font-size: 50px;
    text-transform: uppercase;
}

#page5content {
    padding-top: 60vh;
    margin-left: 16vw;
    font-size: 50px;
    text-transform: uppercase;
}

#page2line1, #page3line1 {
    font-size: 20px;
}

#button-container1, #button-container2, #button-container3, #button-container4, #button-container5 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 47px; 
    width: 165px;
    border: 3px solid white;
    background: transparent;
    cursor: pointer;
}

#button-overlay1, #button-overlay2, #button-overlay3, #button-overlay4, #button-overlay5 {
    position: absolute;
    height: 47px;
    width: 165px;
    background-color: white;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s;
}

#text1, #text2, #text3, #text4, #text5 {
    z-index: 1;
    color: white;
    transition: color 0.4s;
    font-size: 15px;
}

#button-container1:hover #button-overlay1 {
    transform: scaleY(1);
    transform-origin: bottom;
}

#button-container2:hover #button-overlay2 {
    transform: scaleY(1);
    transform-origin: bottom;
}

#button-container3:hover #button-overlay3 {
    transform: scaleY(1);
    transform-origin: bottom;
}

#button-container4:hover #button-overlay4 {
    transform: scaleY(1);
    transform-origin: bottom;
}

#button-container5:hover #button-overlay5 {
    transform: scaleY(1);
    transform-origin: bottom;
}

#button-container1:hover #text1 {
    color: black;
}
#button-container2:hover #text2 {
    color: black;
}
#button-container3:hover #text3 {
    color: black;
}
#button-container4:hover #text4 {
    color: black;
}
#button-container5:hover #text5 {
    color: black;
}

#navbarbutton {
    border-color: transparent;
    width: 10px;
    background-color: transparent;
}

#navbarbuttonlogo {
    width: 15px;
    padding: 10px 0px 4px 0px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5px;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 50px 0;
}

footer a {
    padding: 0 21px;
    font-size: 12px;
    text-decoration: none;
    transition-duration: 0.5s;
}

footer a:hover {
    color: grey;
}

footer p {
    padding-right: 10px;
}

#page1, #page2, #page3, #page4, #page5 {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#page1 {
    background-image: url(./images/rocket1.jpg);
}

#page2 {
    background-image: url(./images/rocket2.jpg);
}

#page3 {
    background-image: url(./images/rocket3.jpg);
}

#page4 {
    background-image: url(./images/rocket4.jpg);
}

#page5 {
    background-image: url(./images/rocket5.jpg);
}